/* add your CSS here */
body {
  font-family: helvetica, sans-serif;
}
ul {
  list-style: none;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.round-border{
  border-radius: 10px;
}
.shadow {
  box-shadow: 3px 3px 3px 3px #6d6d6d;
}
.card {
  padding: 5px;
  border-style: solid;
  max-width: 30%;
  max-height: 70%;
  background-color: #e6ecff;
  margin:10px;
}
.information {
  padding: 4px;
  margin:4px;
  font-size: 15px;
}
#cardTitle {
  font-size: large;
  background-color:
  padding:1px;
  border-color:#ccc;
  border-radius: 4px;
}
.bold{
  font-weight: bold;
}
.italics{
  font-style: italic;
}

.center{
  text-align: center;
  margin:auto;
  width: 50%;
}
